# npm packages (non-dev packages are reinstalled before site upload)
node_modules/

# Composer packages (non-dev packages are reinstalled before site upload)
vendor/

# Workflow caches
.stylelintcache

# Personal PHPStan configs
phpstan.neon

# Build folder
build/

# environment variables
.env
